*{
	box-sizing: border-box;
}

body {
	display: inline-block;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	margin: 0;
	padding: 0;
	background-color: rgb(213, 213, 213);
}

.section {
	width: 1000px;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 270px;
}

.row {
	width: 100%;
	justify-content: space-between;
	padding: 30px;
}

img {
	position: relative;
	width: 250px;
	border-radius: 10px;
	margin-left: 25px;
	margin-top: 25px;
}

.infBlock {
	display: inline-block;
	width: 300px;
	height: 520px;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: .2s;
	position: relative;
	overflow: hidden;
}

.infText {
	position: relative;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	color: rgba(0,0,0,.8);
	transition: .2s;
	margin: 30px 0 0 0;
}

.infText1 {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-size: medium;
	text-align: inherit;
	margin-left: 10px;
	margin-right: 10px;
}

.btn {
	position: static;
	text-decoration: none;
	color: #058cdd;
	background: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	padding: 10px 30px;
	border-radius: 30px;
	opacity: 0;
	transition: 0.2s;
	margin: 25px;
}

.infBlock:hover {
	background: #058cdd
}

.infBlock:hover .infText {
	color: #fff;
	margin-top: 0;
	margin-bottom: 10px;
}

.infBlock:hover .btn {
	opacity: 1;
}